PUBLIC_GIT_HASH=main
COOKIE_KEYS=latest_secret_🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲__older_secret_🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲__oldest_secret_🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲
PUBLIC_WEBSOCKET_URL=wss://TODO.com/ws
PUBLIC_SERVER_HOSTNAME=localhost
PUBLIC_SERVER_PORT=3000
PGHOST=localhost
PGPORT=5432
PGDATABASE=felt
PGUSER=postgres
PGPASSWORD=TODO
PGIDLE_TIMEOUT=
PGCONNECT_TIMEOUT=
PUBLIC_DEPLOY_SERVER_HOST=TODO.com
DEPLOY_IP=123.45.67.89
DEPLOY_USER=root
CERTBOT_EMAIL=TODO@TODO.com
