PUBLIC_GIT_HASH=main
COOKIE_KEYS=latest_secret_🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲__older_secret_🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲__oldest_secret_🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲🎲
PUBLIC_WEBSOCKET_URL=ws://localhost:3000/ws
PUBLIC_SERVER_HOSTNAME=localhost
PUBLIC_SERVER_PORT=3000
PUBLIC_SITE_PORT=3001
PGHOST=localhost
PGPORT=5432
PGDATABASE=felt
PGUSER=postgres
PGPASSWORD=password
PGIDLE_TIMEOUT=
PGCONNECT_TIMEOUT=
PUBLIC_DEPLOY_SERVER_HOST=
PUBLIC_SITE_HOST=
DEPLOY_IP=
DEPLOY_USER=
CERTBOT_EMAIL=
